<!DOCTYPE html>
<html>
<head>
	<title>Page city</title>
</head>
<body>
	<p> Voici le nom de la ville:
	<%= @cities.name %> </p>

	<p> Voici les potins écrits par des auteurs de cette ville:
	<%= @gossip.title %>
	</p>

</body>
</html> 

